@using HairSalonJF.Models
@model List<ClientIntakeForm>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <h1>Please register if you are a new client.</h1>
    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    <h1>If you are a returning client please Log in.</h1>
    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
}
else
{
    <a asp-controller="ClientIntakeForm" asp-action="Add">I look forward to doing your hair! Click here to add your information and request an appointment!</a>
}