@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" color="Black" >WIFEY BE STYLING</h1>
    <p>Learn about <a href="">Schedule an appointment</a>.</p>
</div>
