@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" color="Black">WIFEY BE STYLING</h1>
    <a asp-controller="ClientIntakeForm" asp-action="Index">Schedule an appointment</a>
    <div class="text-center">
        <p>If you would like to look at hair ideas visit pinterest! <a href="https://www.pinterest.com/">Pinterest</a>.</p>
    </div>
</div>
